.rightbar {
  flex: 3;
  overflow-y: scroll;
  top: 50px;
  overflow-y: hidden;
  position: sticky;
  height: 100vh;
}
.rightbar:hover {
  overflow-y: scroll;
}

.rightBarList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
}

.rightbarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.contact-heading {
  color: #65676b;
  padding: 10px;
  border-radius: 10px;
}

.birthdayImg {
  width: 50px;
  height: 50px;
}
.rightbarList :hover {
  background-color: rgb(227, 229, 232);
  cursor: pointer;
  /*  */
}
.rightbarFriend {
  padding: 15px;
  border-radius: 10px;
  margin: 0;
}
.rightbarTitle {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.rightbarTitle:hover {
  background-color: white;
}
.friendImageContainer {
  position: relative;
}
.onlineBadge {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 5px;
  border: 2px solid white;
  background-color: limegreen;
}
.contact-heading {
  font-weight: 600;
  font-size: 1.2rem;
}
.rightbarHr {
  margin: 10px 20px;
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  .rightbar {
    flex: 0;
  }
}
